# URL da API do Backend
# No ambiente local (desenvolvimento), geralmente é http://localhost:3000/api
# Em produção, aponte para o domínio da sua API
VITE_API_URL=http://localhost:3000/api
API_URL=http://localhost:3000/api
